.Logo {
    display: inline-block;
    width: 50px;
    margin-right: 20px;
    padding-bottom: 10px;
}
.Logo img {
    width: 100%;
}

@media(min-width: 700px) {
    .Logo {
        display: inline-block;
    }
}