.SingleTitle {
    margin: 0 8%
}

.GeneralInfo {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.GeneralInfo .GeneralInfoImg>img {
    width: 220px;
    height: 100%;
    border-radius: 5px;
}

.GeneralInfoText {
    width: 290px;
}
.GeneralInfoText p span {
    font-weight: 600;
}

.MediaTitleSm {
    text-align: center;
    margin: 20px 0;
}

.MediaTitle {
    display: none;
}

.GeneralInfoText>p {
    margin-bottom: 5px
}

.GeneralInfoRatings {
    margin: 10px 0;
}

.SingleTitleReviewer {
    position: relative;
    margin-bottom: 10px;
}

.SingleTitleReviewer span {
    text-transform: capitalize;
    margin-right: 5px;
}

.SingleTitleReviewer p {
    display: inline-block;
    position: absolute;
    left: 200px;
}

.SingleTitleReviewer img:first-child {
    height: 22px;
}

.SingleTitleReviewer img:nth-child(2) {
    height: 20px;
    position: absolute;
    top: 2px;
    left: 70px;
}

.SingleTitleArtists {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.SingleTitleArtist {
    width: 50%;
    height: 190px;
    text-align: center;
    margin-bottom: 20px;
}

.SingleTitleArtist a {
    color: white;
}

.SingleTitleArtist a:hover {
    text-decoration: none;
    opacity: 0.9;
}

.SingleTitleArtist a:hover p {
    color: white;
}

.SingleTitleArtist img {
    width: 100px;
    height: 140px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 4px;
}

.SingleTitlePlot p {
    text-align: justify;
}

.SingleTitleTrailer > div {
    height: 46.5vw;
}

.TitleMainContent > div {
    margin-top: 50px;
}

.TitleMainContent h3 {
    margin-bottom: 25px;
}

.Comments {
    border: 2px solid coral;
    height: 500px;
}

.AdminBtns {
    margin-top: 70px;
    text-align: center;
}

.AdminBtns button {
    margin-right: 50px;
    outline: none;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 30px;
    transition: all 0.1s ease-in-out;
    font-weight: 500;
}

i.fas.fa-exclamation-triangle {
    margin-right: 10px;
    font-size: 17px;
}

.AdminBtns button:first-child {
    background-color: rgb(78, 199, 108);
}

.AdminBtns button:nth-child(2) {
    background-color: rgb(199, 78, 78);
    padding: 5px 20px;
}

.AdminBtns button:hover {
    transform: scale(1.1);
}


@media(min-width: 481px) {
    .GeneralInfo .GeneralInfoImg>img {
        width: 260px;
    }
    .GeneralInfoText {
        width: 380px;
    }
    .SingleTitleArtist {
        width: 33%;
    }
    .MediaTitle {
        width: 400px;
    }
}

@media(min-width: 576px) {
    .GeneralInfoText {
        width: 350px;
    }
    .SingleTitleArtist {
        width: 33%;
    }
}

@media (min-width: 660px) {
    .SingleTitleArtist {
        width: 25%;
    }
}

@media(min-width: 768px) {
    .GeneralInfo .GeneralInfoImg>img {
        width: 250px;
    }

    .SingleTitle {
        margin: 0 7%;
    }

    .GeneralInfo {
        display: flex;
        flex-flow: row;
        margin-top: 20px;
        justify-content: center;
    }

    .GeneralInfoText {
        margin-left: 40px;
        width: 45%;
        height: 370px;
    }

    .SingleTitleArtists {
        margin-top: 40px;
        justify-content: space-between;
    }

    .SingleTitleArtist {
        width: 130px;
    }

    .SingleTitleArtist img {
        width: 90px;
        height: 130px;
    }

    .MediaTitleSm {
        display: none;
    }

    .MediaTitle {
        display: contents;
    }

    .GeneralInfoText p {
        font-size: 18px;
    }
}

@media(min-width: 1024px) {
    .SingleTitle {
        margin: 0;
        margin-right: 27%;
        padding-left: 3%;
        padding-right: 6%;
    }

    .GeneralInfoText {
        margin-left: 45px;
        width: 400px;
    }

    .MediaTitle {
        width: 450px;
    }

    .SingleTitleArtist {
        width: 20%;
        margin-top: 5vh;
    }

    .TitleMainContent {
        margin-left: 5%;
    }

    .RelatedTitles {
        position: absolute;
        flex-flow: column;
        width: 230px;
        top: -2.5%;
        right: 5%;
        text-align: center;
    }

    .SingleTitleTrailer > div {
        height: 36.5vw;
    }   

}


@media(min-width: 1281px) {
    .SingleTitle {
        padding-left: 5%;
    }
    .TitleMainContent {
        margin: 0 8%;
    }

    .SingleTitleArtist {
        width: 15%;
    }
    .RelatedTitles {
        width: 300px;
    }

    .SingleTitleTrailer > div {
        height: 29vw;
    }

    .GeneralInfo .GeneralInfoImg>img {
        width: 270px;
    }
}

@media(min-width: 1601px) {
    .TitleMainContent {
        margin-left: 20%;
    }

    .SingleTitle {
        padding-left: 0;
    }

    .SingleTitleArtist {
        width: 13%;
    }

    .SingleTitleTrailer > div {
        height: 27vw;
    }

    .RelatedTitles {
        right: 10%;
    }
    .GeneralInfoText {
        height: 400px;
    }
}