.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    cursor: pointer;
    width: 50%;
    margin: 0 auto;
    margin-top: 60px;
}

.pagination li {
    padding-top: 11px;
}

.pagination li.active a{
    color: #CA5E9D;
    font-weight: bold;
    font-size: 17px;
}

.pagination a {
    padding: 1.6vw;
    color: white;
    outline: none;
}

.pagination a:hover {
    text-decoration: none;
    opacity: 0.8;
    outline: none;
}

.pagination .next, .pagination .previous {
    /* background: white; */
    /* color: black; */
    border-radius: 3px;
    padding: 2px 7px;
    margin-left: 10px;
    margin-right: 10px;
}

.pagination .next:hover, .pagination .previous:hover {
    opacity: 0.9;
}

.pagination .next {
    padding-left: 9px;
}

.pagination .previous {
    padding-right: 9px;
}

.pagination .next a, .pagination .previous a {
    color: white;
    font-size: 30px;
}

.pagination__link {
    font-weight: bold;
}

.pagination__link--active a {
    color: #fff;
}

/* .pagination__link--disabled a {
    color: rgb(198, 197, 202);
    border: 1px solid rgb(198, 197, 202);
} */

.ListContainer {
    display: flex;
    flex-wrap: wrap;
}

.PageJump {
    display: flex;
    width: 250px;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-bottom: -20px;
}

.PageJump > select {
    height: 30px;
    width: 60px;
    border: none;
    padding-left: 5px;
    border-radius: 2px;
}

.PageJump button {
    height: 30px;
    border: none;
    border-radius: 2px;
    font-weight: 500;
    outline: none;
    cursor: pointer;
    opacity: 0.92;
    padding: 0 20px;
}

.PageJump button:hover {
    opacity: 1;
}


@media (min-width: 481px) {
    .pagination {
        margin-top: 50px;
    }


}

@media (min-width: 769px) {
    .pagination a {
        padding: 1.8vw;
    }


    .PageJump {
        margin: 0;
        margin-left: auto;
        margin-bottom: -20px;
        margin-right: 10px;
    }

    .ListPaginate {
        width: 75%;
    }
}


@media (min-width: 1024px) {
    .pagination a {
        padding: 1.3vw;
    }

    .PageJump {
        margin-right: 40px;
    }
}

@media (min-width: 1280px) {
    .pagination a {
        padding: 1.1vw;
    }

    .PageJump {
        margin-right: 15px
    }

    .ListPaginate {
        width: 80%;
    }

}

@media (min-width: 1440px) {
    .PageJump {
        margin-right: 20px;
    }
}

@media (min-width: 1600px) {
    .pagination a {
        padding: 1.1vw;
    }

    .PageJump {
        margin-right: 12px;
    }
}
