.Error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
    /* background-color: lightblue; */
}

.Error-Img {
    align-self: center;
    /* border: 1px solid black; */
}

.Error-Img img {
    width: 300px;
    height: auto;
    display: block;
    margin: auto;
}

.Error-Des > h1 {
    font-size: 7em;
    margin: 15px 0;
    font-weight: bold;
}

.Error-Des p {
    margin-bottom: 5vh;
}

.Error-Des a {
    background-color: #27A243;
    color: white;
    font-weight: 500;
    opacity: 0.9;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
}

.Error-Des a:hover {
    opacity: 1;
    color: white;
    text-decoration: none;
}

.Error-Des a:active {
    opacity: 0.8;
}


@media (max-width: 991px) {
    .Error-Img img {
        width: 250px;
        height: auto;
    }

    .Error-Des > h1 {
        font-size: 5em;
    }
    
}

@media (max-width: 767px) {
    .Error {
        height: 100vh;
    }

    .Error-Img img {
        width: 250px;
        height: auto;
    }

    .Error-Des > h1 {
        font-size: 5em;
    }
}

@media (min-width: 767px) {
    .Error-Img {
        width: 500px;
        
    }
}
/* 
.Error {
    display: flex;
    align-items: center;
    height: 100vh;
    max-width: 1000px;

}

.Error-Des {
    text-align: center;
}

.Error-Des h1 {
    font: 5em;
    margin-bottom: 5px;
}

.Error-Des p {
    margin-bottom: 10px;
}

@media (max-width: 700px) {
    
  } */