.AllGenresGenre {
    position: relative;
    width: 80%;
    text-align: center;
    margin-bottom: 40px;
}

.GenreText {
    position: absolute;
    width: fit-content;
    text-align: center;
    background-color: salmon;
    border-radius: 10px;
    text-decoration: none !important;
    padding: 5px 10px; 
    bottom: -33px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-weight: 500;
    text-transform: capitalize;
}

.GenreText:hover {
    background-color: rgb(233, 94, 78);
    color: black;
}


.GenreImage {
    background-color: black;
}

.GenreImage img {
    width: 200px;
    height: 295px;
    margin: auto;
    border-radius: 3px;
    object-fit: cover;
}

.GenreImage:hover {
    opacity: 0.8;
}

/* xs devices */
@media (min-width: 481px) {    
    .AllGenresGenre, .AllGenresSpaceFill {
        width: 50%;
    }
    
    .GenreImage img {
        width: 160px;
        height: 230px;
    }

}

@media (min-width: 768px) {    
    .AllGenresGenre, .AllGenresSpaceFill {
        width: 33%;
        margin-bottom: 50px;
    }
    
    .GenreImage img {
        width: 170px;
        height: 251px;
    }

}


@media (min-width: 1024px) {    
    .AllGenresGenre, .AllGenresSpaceFill {
        width: 25%;
        margin-bottom: 60px;
    }
    
    .GenreImage img {
        width: 180px;
        height: 270px;
    }

}

@media (min-width: 1280px) {    
    .GenreImage img {
        width: 190px;
        height: 275px;
    }
}


@media (min-width: 1500px) {    
    .GenreImage img {
        width: 14vw;
        height: 21vw;
    }
}