footer {
    background-color: #212022 ;
    color: white;
    margin-top: 5vh;
    text-align: center;
}

main {
    position: relative;
    min-height: 35vh;
}


.MainFooter {
    margin: 10px 30px;
}


.MainFooter > div {
    margin: 30px 0;
}

footer li {
    margin-bottom: 10px;
}

.SocialMedia {
    background-color: #3a373d;
    margin: 0;
    height: 60px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    border: 1px solid green;
}

.SocialMedia a, 
.LinksCol a {
    text-decoration: none;
    color: white;
}

.SocialMedia a:hover,
.LinksCol a:hover {
    text-decoration: none;
    color: lightgrey;
}

.SocialMedia a {
    margin: 0 10px;
}

footer ul li {
    list-style: none;
}

footer ul {
    padding-inline-start: 0;
}

.ContactCol i {
    font-size: 18px;
    margin-right: 15px;
}

.NewsletterCol button {
    background-color: #b93e42;
    color: white;
}

.NewsletterCol button:hover {
    background-color: #9b3538;
}

.FooterCopyright {
    background-color: #191719;
    padding: 5px;
    font-size: small;
}


@media(min-width: 768px) {
    .MainFooter {
        display: flex;
        flex-wrap: wrap;
    }


    .MainFooter > div {
        width: 40%;
        margin: 30px 30px 0;
        text-align: start;
    }

    hr {
        display: inline-block;
    }
}