.Modal {
    position: fixed;
    z-index: 500;   /* z-index: specifies stack order of an elem, elem w/ higher stack order is always in front of an elem w/ lower stack order*/
    width: 80%;
    background-color: white;
    box-shadow: 0 0 10px grey ;   /* not specify h- and v- offset will give 4 side shadow */
                                    /* box shadow: h-offset v-offset blur spread color |inset|initial|inherit */
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 16px;
    left: 10%;
    top: 20%;
    box-sizing: border-box;         /* allow include the padding and border of an alem to the actual total height and width of that elem */    
    transition: all 0.3s ease-out;  /* slower at the end */
}


.CloseBtn {
    color: rgb(155, 155, 155);
    float: right;
    font-size: 28px;
    font-weight: bold;
    background-color: rgb(216, 216, 216);
    padding: 2px 10px;
    border-radius: 50%;
    border: none;
}

.CloseBtn:hover, .CloseBtn:focus {
  color: black;
  background-color: rgb(194, 194, 194);
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

@media (min-width: 600px) {
    .Modal{
        width: 500px;
        left: calc(50% - 250px);
    }
}