.Modal {
    z-index: 500;   /* z-index: specifies stack order of an elem, elem w/ higher stack order is always in front of an elem w/ lower stack order*/
    min-height: 230px;
    background-color: white;
    border-radius: 3px;
    box-sizing: border-box;         /* allow include the padding and border of an alem to the actual total height and width of that elem */    
    transition: all 0.3s ease-out;  /* slower at the end */
    top: 40%;
    position: relative;
    width: 340px;
    margin: 0 auto;
}

.Modal .ModalTitle {
    height: 80px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #DC717A;
    position: relative;
}

.Modal.ModalSuccess .ModalTitle {
    background-color: #46c2ad;
}

.Modal h2 {    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.Modal p {    
    margin: 20px 10px;
    text-align: center;
    font-weight: 500;
}

.CloseBtn {
    background-color: #DC717A;
    color: white;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    font-weight: 500;
    padding: 5px 25px;
    border: none;
    border-radius: 35px;
}

.CloseBtn:hover, .CloseBtn:focus {
  background-color: #d85762;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

.Modal.ModalSuccess .CloseBtn{
    background-color: #26b495;
}

.Modal.ModalSuccess .CloseBtn:hover{
    background-color: #1a836c;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

@media (min-width: 600px) {
    .Modal{
        width: 500px;
    }
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fbfbfb3b;
    z-index: 400;
}

