.ArtistPage {
    width: 80%;
    margin: 0px auto;
    text-align: center;
}

.ArtistPage h2 {
    margin-bottom: 40px;
}

.ArtistPage > .ListPaginate {
    margin: 0 auto;
}

@media (min-width: 481px) {
    .ArtistPage {
        width: 90%;
    }
}

@media (min-width: 769px) {

}

@media (min-width: 1024px) {
    .ArtistPage {
        width: 82%;
    }
}

@media (min-width: 1280px) {
    .ArtistPage {
        width: 88%;
    }
}

@media (min-width: 1440px) {
    .ArtistPage {
        width: 80%;
    }
}

@media (min-width: 1600px) {
    .ArtistPage {
        width: 1200px;
    }

}