.CarouselSmall, .CarouselMedium {
    display: none;
}

.slick-slider {
    width: 250px;
    margin: 0 auto !important;
    background-color: #0d3046;
    border-radius: 3px;
}

.CarouselContainer {
    margin: 20px 10px 60px;
}

.CarouselItem {
    width: fit-content !important;
    margin: 20px auto;
    display: block !important;
}

.slick-arrow.slick-prev {
    left: -35px !important;
}

.slick-arrow.slick-next {
    right: -35px !important;
}

.CarouselItem {
    position: relative;
}

.CarouselItem a {
    text-decoration: none;
    color: white;
}

.CarouselItem a:hover {
    text-decoration: none;
    color: white;
    opacity: 0.8;
}

.CarouselMediaScore {
    position: absolute;
    background-color: #F1B722;
    color: black;
    width: 45px;
    padding: 3px;
    border-radius: 20px;
    margin: auto;
    left: 50%;
    z-index: 1;
    text-align: center;
    transform: translate(-50%, -50%);
}

.CarouselImage {
    z-index: -1;
    border-radius: 2px;
    width: 160px;
    height: 250px;
    margin: 0 auto;
    object-fit: cover;
}

.CarouselMediaTitle {
    margin-top: 5px;
    text-align: center;
    width: 170px;
}

.CarouselHeader {
    position: relative;
    width: 250px;
    margin: 0 auto 10px;
}

.CarouselTitle {
    text-align: center;
}


.SeeMore{
    position: absolute;
    right: 0;
    bottom: -390px;
    text-decoration: none;
    color: white;
}

.SeeMore button {
    position: relative;
    text-transform: uppercase;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 15px;
    padding: 7px 28px 7px 15px;
    background-color: #17a2b8;
    color: white;
    margin-bottom: 2px;
    font-size: 14px;
}

.SeeMore button:hover {
    outline: none;
    opacity: 0.9;
}

.SeeMore i {
    position: absolute;
    top: 7px;
    right: 12px;
    font-size: 17px;
}

@media(min-width: 481px) {
    .CarouselSmall {
        display: block;
    }
    .CarouselXSmall {
        display: none;
    }

    .CarouselContainer {
        margin-bottom: 40px;
    }
    .slick-slider, .CarouselHeader {
        width: 90%;
    }

    .CarouselTitle {
        text-align: left;
    }

    .SeeMore{
        bottom: 0;
    }
}

@media(min-width: 768px) {
    .CarouselSmall {
        display: none;
    }
    .CarouselMedium {
        display: block;
    }
    .CarouselImage {
        width: 17vw;
        height: 26vw;
    }
    .CarouselMediaTitle {
        width: 17vw;
    }
}

@media(min-width: 992px) {
    .CarouselImage {
        width: 13vw;
        height: 19vw;
        margin: 0 auto;
    }
    .CarouselMediaTitle {
        width: 13vw;
    }
    
}

@media(min-width: 1366px) {
    .CarouselImage {
        width: 180px;
        height: 264px;
        margin: 0 auto;
    }
    .CarouselMediaTitle {
        width: 180px;
    }
}

@media(min-width: 1440px) {
    .CarouselImage {
        width: 11vw;
        height: 16vw;
        margin: 0 auto;
    }
    .CarouselMediaTitle {
        width: 11vw;
    }
}