.Navbar {
    background-color: #1d5477 !important;
    height: 80px;
    z-index: 1;
}

.NavbarLogo {
    width: 50px;
    margin-right: 10px;
    padding-bottom: 10px;
}

.NavbarLogo img {
    width: 100%;
}

.NavbarText {
    font-family: 'Gilbert';
    font-size: 25px;
}

.DropdownMenuRow {
    margin-right: 20px;
}

/* .MultiCol a {
	color: #ffffff;
}

.MultiCol a:hover {
    color: white;
	text-decoration: none;
	background-color: #0a3753;
} */

.custom-toggler.navbar-toggler, .custom-toggler-inside.navbar-toggler {
    border: 2px solid rgb(255, 255, 255);
    outline: none;
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.dropdown-menu {
    background-color: #164461 !important;
    width: 450px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

@font-face {
    font-family: "Gilbert";
    src: url('../../../../assets/fonts//Gilbert-Bold.otf');
    font-weight: normal;
    font-style: normal;
}

#queer-1, #queer-6 {
    color: #D344B0;
}

#queer-2, #queer-7 {
    color: #08B4E4;
}

#queer-3, #queer-8 {
    color: #30C979;
}

#queer-4, #queer-9 {
    color: #FBBF47;
}

#queer-5, #queer-10 {
    color: #FA7015;
}

@media (max-width: 575px) {
    .TogglerInside {
        height: 80px;
    }
    .custom-toggler-inside.navbar-toggler {
        margin-top: 20px;
        margin-left: 10px;
    }
    .navbar-collapse {
        background-color: #1d5477;
        position: fixed;
        top: 0px;
        right: 0;
        padding-left: 15px;
        padding-top: 0px;
        width: 100px;
        height: 100%;
    }
    .navbar-collapse.collapsing {
        right: -100px;
        transition: right 200ms ease;
    }
    .navbar-collapse.show {
        right: 0;
        transition: right 200ms ease-in-out;
    }
}

@media (min-width: 576px) and (max-width:660px) {
    .navbar-expand-sm .navbar-nav .nav-link {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
}