.UserComment {
    margin-top: 30px;
}

.UserComment h5 {
    margin-bottom: 0 !important;
    font-size: 1.2em;
    margin-left: 0;
}

.UserComment small {
    font-size: 65% !important;
    color: rgb(207, 207, 207);
}

.UserComment p {
    margin-bottom: 0 !important;
}

.UserComment hr {
    width: 100%;
    border: 1px solid rgb(196, 196, 196);
}

.MediaComments .AddComment {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.AddComment form {
    width: calc(100% - 65px);
    position: relative;
}

.MediaComments h2 {
    margin-bottom: 20px;
}

.CommentArea {
    width: 100%;
    padding: 5px 10px;
    resize: none;
    height: 100px;
    color: white;
    background-color: #164b6b;
    border-top-left-radius: 2px ;
    border-top-right-radius: 2px;
    border: none;
    border-bottom: 1px solid white;
    box-sizing: border-box;
}

.CommentArea:focus {
    outline: none;
}
.CommentArea::placeholder {
    color: rgb(202, 202, 202);
}

.CommentArea~.focus-border {
    position: absolute;
    top: 99px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #3399FF;
    transition: 0.4s;
}

.CommentArea:focus~.focus-border {
    width: 100%;
    transition: 0.4s;
    left: 0;
}


.AddComment form button {
    display: block;
    border: none;
    outline: none;
    border-radius: 2px;
    padding: 10px 18px;
    font-size: 15px;
    background-color: #C59F2D;
    color: white;
    float: right;
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s ease;
    margin-top: 10px;
}

/* .AddComment form button.notShown {
    display: none;
} */
.AddComment form button:hover {
    background-color: #cfc33c;
}

.AddComment form :is(button, textarea):active, .AddComment form button:focus {
    outline: none;
}

.AddComment form em {
    color: rgb(255, 94, 94);
}

/* @media (min-width: 481px) {
    .AddComment form {
        width: 83%;
    }
    
}

@media (min-width: 768px) {
    .AddComment form {
        width: 83%;
    }
    
} */