
.ListItem {
    width: 65%;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    height: 320px;
    position: relative;
}

.ListItem > a {
    text-decoration: none;
    color: white;
    opacity: 0.92;
}

.ListItem > a:hover {
    text-decoration: none;
    opacity: 1;
    color: white;
}


.ListItemImg {
    width: 180px;
    height: 260px;
    margin-top: 15px;
    border-radius: 5px;
    object-fit: cover;
    z-index: -1;
}

.ListItem p {
    margin-top: 5px;
    /* font-size: 20px; */
}

.ListItemScore {
    position: absolute;
    background-color: #F1B722;
    color: black;
    width: 50px;
    border-radius: 20px;
    margin: auto;
    top: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}


@media (min-width: 481px) {
    .ListItem {
        width: 45%;
    }
}

@media (min-width: 840px) {
    .ListItem {
        width: 30%;
        display: inline-block;
        position: relative;
    }

    .ListItemImg {
        width: 150px;
        height: 225px;
    }

    .ListItem p {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 70%;
        top: 75%;
        font-size: 15px;
    }
}

@media (min-width: 1024px) {

    .ListItemImg {
        width: 170px;
        height: 250px;
    }
    .ListItem p {
        top: 84%;
    }
}


@media (min-width: 1280px) {
    .ListItem {
        width: 25%;
    }
}