.LogoutBtn {
    background-color: transparent;
    font-weight: 500;
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 10px;
}

.AuthBtn:hover {
    outline: none;
}

.AuthBtn:active {
    outline: none;
}

.LogoutBtn{
    color: black;    
}

.LogoutBtn:hover{
    color: white;
    background-color: rgb(187, 33, 33);
}

