.Navbar {
    padding: 10px 2rem;
    display: flex;
    align-items: center;
    background-color: #1d5477 !important;
    height: 60px;
}

@font-face {
    font-family: "Gilbert";
    src: url('../../../../assets/fonts//Gilbert-Bold.otf');
    font-weight: normal;
    font-style: normal;
}

.NavbarText {
    font-family: 'Gilbert' !important;
    position: absolute;
    left: 85px;
    font-size: 25px;
    min-width: 145px;
    text-decoration: none;
    animation-name: textGoLeft;
    animation-duration: 1s;
}

.NavbarText:hover {
    text-decoration: none;
}

#queer-1, #queer-6 {
    color: #D344B0;
}

#queer-2, #queer-7 {
    color: #08B4E4;
}

#queer-3, #queer-8 {
    color: #30C979;
}

#queer-4, #queer-9 {
    color: #FBBF47;
}

#queer-5, #queer-10 {
    color: #FA7015;
}

.NavBurgerIcon {
    width: fit-content;
}

.NavItems {
    display: flex;
    grid-gap: 10px;
    text-align: center;
    list-style: none;
    width: 100vw;
    justify-content: flex-end;
    align-items: center;
    margin-top: 16px;
}

.NavItemLink {
    color: white;
    padding: .5rem .5rem;
    position: relative;
    cursor: pointer;
    text-decoration: none;
}

.NavItemLink:hover {
    transition: all 0.1s ease-in;
    text-decoration: none;
    border-bottom: 3px solid white;
    color: white;
}

.NavItemLink.active {
    border-bottom: 3px solid white;
}

/* mobile */

@media(max-width: 768px) {
    .Navbar {
        position: relative;
    }
    .NavbarText {
        position: absolute;     
        left: 50%;
        transform: translateX(-50%);   
        animation-name: textGoMiddle;
        animation-duration: 1s
    }
    ul.NavItems {
        padding-inline-start: 0 !important;
    }
    .NavItems {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: #1d5477;
        top: 80px;
        width: 100%;
        height: fit-content;
        grid-gap: 0;
        margin: 0;
        z-index: 1;
    }
    .NavItems.noactive {
        left: -100%;
        animation-name: NavDisappear;
        animation-duration: .5s
    }
    .NavItems.active {
        left: 0;
        transition: all 0.5s ease;
        opacity: 1;
    }
    .NavItems li {
        border-bottom: 1px solid #1d5477;
        width: 100%;
    }
    .NavItemLink {
        text-align: center;
        padding: .9rem 0;
        display: table;
        width: 100%;
    }
    .NavItemLink:hover {
        transition: all 0.3s ease-in;
        text-decoration: none;
        background-color: white;
        border: none;
        color: #1d5477;
    }
    .NavItemLink.active {
        background-color: white;
        color: #1d5477;
        border: none;
    }


}

@keyframes textGoMiddle {
    from {
        left: 100px;
    }
    to {
        left: 50%;
    }
}

@keyframes textGoLeft {
    from {
        left: 50%;
    }
    to {
        left: 100px;
    }
}

@keyframes NavDisappear {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}