.AlsoLikeItem {
    width: 200px;
    text-align: center;
    margin: 0 auto 8%;
    position: relative;
}

.AlsoLike {
    margin-top: 20px;
    text-align: left;
}

.AlsoLikeItem > a {
    color: white;
}

.AlsoLikeItem > a:hover {
    text-decoration: none;
    opacity: 0.8;
}

.AlsoLikeItem > a > img.AlsoLikeImage {
    width: 100%;
    height: 290px;
    object-fit: cover;
    border-radius: 5px;
}

p.AlsoLikeScore {
    position: absolute;
    background-color: #F1B722;
    left: 50%;
    top: -25px;
    color: black;
    border-radius: 20px;
    width: 50px;
    transform: translateX(-50%);
    z-index: 100;
    padding: 2px;
}

.AlsoLikeItem p.title {
    margin-top: 5px;
}

@media(min-width: 600px) {
    .AlsoLike {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .AlsoLikeItem {
        margin: 0 auto 5%;
        padding: 0 20px;
        width: 40%;
    }

    .AlsoLikeItem > a > img.AlsoLikeImage {
        width: 200px;
    }
}

@media(min-width: 768px) {
    .AlosLike {
        display: flex;
        flex-wrap: wrap;
    }

    .AlsoLikeItem {
        margin: 0 auto 5%;
        padding: 0 20px;
    }
}

@media(min-width: 1024px) {

    .AlsoLike {
        flex-flow: column;
        align-items: center;
    }

    .AlsoLikeItem {
        width: 160px;
        margin: 0;
        margin-bottom: 30px;
        padding: 0;
    }

    .AlsoLikeItem > a > img.AlsoLikeImage{
        height: 240px;
        width: 160px;
    }

    .AlsoLikeItem > a > p:last-child {
        width: 150px;
        margin: 0 auto;
    }
}

@media(min-width: 1281px) {

}