.Home {
    width: 95%;
    margin: 0 auto;
}

.RandomTitles {
    width: 90%;
    margin: 0 auto;
    margin-top: 25px;
}


@media (min-width: 992px) {
    .Home {
        display: flex;
    }

    .HomeSlides {
        width: 75%;
    }
    .RandomTitles {
        width: 25%;
    }
}


@media (min-width: 1440px) {
    .Home {
        width: 80%;
    }
}