.DropdownTitle {
    text-align: center;
}

.DropdownTitle a {
    color: white !important;
    text-decoration: none;
}

.navbar-expand-sm .navbar-nav .dropdown-menu {
    position: absolute;
    top: 90px !important;
    left: -1.5px !important;
}

.DropdownTitle img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 5px;
    margin-right: 5px;
}

li.dropdown:hover>.dropdown-menu {
    display: block;
    width: 86px;
}

.dropdown-menu {
    background-color: #1d5477  !important;
    border: none !important;
    outline: none;
}

.dropdown-menu:hover {
    display: block;
}

.dropdown-item {
    color: white !important;
    padding: .25rem 1rem !important;
}

.dropdown-item:hover {
    background-color: #1a4c69 !important;
}

.dropdown-toggle::after {
    vertical-align: .2em !important;
    margin-left: 6px !important;
}

@media(min-width: 576px) {
    .DropdownTitle {
        display: flex;
        padding: 8px;
        /* width: 110px; */
        /* padding-top: 10px;
        padding-left: 12px; */
    }
    .DropdownTitle img {
        width: 30px;
        height: 30px;
    }
    .navbar-expand-sm .navbar-nav .dropdown-menu {
        top: 50px !important;
        left: 10px !important;
    }
    li.dropdown:hover>.dropdown-menu {
        min-width: fit-content;
    }
    .dropdown-item {
        color: white !important;
        padding: .25rem 1.5rem !important;
    }
    .dropdown-menu>button {
        margin-left: 6px;
    }
}

@media (min-width: 670px) {
    .DropdownTitle {
        /* width: 120px; */
    }
    .DropdownTitle img {
        margin-right: 5px;
    }
}