.GenrePage {
    width: 90%;
    margin: 0 auto;
}

.GenrePage > h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 40px;
}

@media (min-width: 1280px) {
    .GenrePage {
        width: 83%;
    }

}

@media (min-width: 1600px) {
    .GenrePage {
        width: 70%;
    }
}